
.Dashboard{
    min-height: 100vh;
    width: 100%;
    // width: max-content;
    height: 100%;
    // background: linear-gradient()
    background: linear-gradient(180deg, #050015 0%, #110135 48.96%, #180854 100%);
    
    padding: 35px;
}

.NavbarDash
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    
    .action-buttons {
        display: flex;
        gap: 20px;
        
        .action-button {
            height: 30px;
        }

    }

    .logo-img{
        box-sizing: content-box;
        // margin: 10px;
    }

}

.ContentUpper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .dateBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #140040;
        width: min-content;
        padding: 20px 10px;
        border-radius: 20px;

        .date {
            font-size: 50px;
            // font-weight: 600;
            color: #fff;
        }

        .month {
            font-size: 40px;
        }

        .year {
            font-size: 50px;
        }
    }

    .streakBoxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 20px;
        .techStreaks {
            display: flex;
            // flex-direction: column;
            align-items: center;
            gap: 10px;
            // background-color: #140040;
            width: min-content;
            padding: 20px 10px;
            border-radius: 20px;
            
            .techStreak{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // background-color: #04ffff;
                padding: 10px;
                .streakCount {
                    font-size: 50px;
                    color: #fff;
                }
                
                .streakPlatform {
                    font-size: 14px;
                    color: #fff;
                }

            }

            .personalStreak {
                background-color: #140040;
                border-radius: 15px;
                
            }

       }
       .addNew {
        box-sizing: content-box;
        padding: 20px;
        background-color: #140040;
        margin: 0 20px;
        border-radius: 20px;
        // font-size: 80px;
        // background-color: #140040;
       }
    }

    margin: 50px 0;
}

.ContentLower {
    display: flex;
    justify-content: center;
    align-items: center;
    .streakData {
        // find the inverted image
        filter: invert(100%);
        height: 170px;

    }
}